html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
a{
  display: inline-block;
  text-decoration: none;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color:#555;
}
.container{
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
}
.title{
  font-size: 30px;
  color:#000;
  background-color: #fff;
  width: 100%;
  padding: 40px 30px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
}

 .section__title {
   font-size: 36px;
   color: #000;
   text-align: center;
   margin-bottom: 30px;

   span {
     color: #0674ec;
   }
 }

 .section__subtitle{
    max-width: 670px;
    margin: 0 auto 40px;
    text-align: center;
    font-size: 16px;
    color: #555;
 }

 

 .wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
 }

 .content {
   flex: 1 0 auto;
 }

 .footer {
   flex: 0 0 auto;
 }